---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title} showTitle={true}>
    <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />

    <div class="post-body px-4 text-md font-medium">
        <div class="tags flex flex-row justify-start align-middle">
            <p class="content-center ml-4 text-base">تگ ها:</p>
            {
                frontmatter.tags.map((tag: string) => (
                    <a
                        class="tag text-sm px-1 border rounded-sm shadow-sm ml-1 content-center"
                        href={`/tags/${tag}`}
                    >
                        {tag}
                    </a>
                ))
            }
        </div>

        <div class="main-content mt-4">
            <slot />
        </div>
    </div>
</BaseLayout>

<style is:global>
    .main-content h2 {
        font-weight: bold;
        font-size: 1.3em;
    }
</style>
